body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    background-color: rgb(255, 255, 255);
}


/*1) Estilização do Cabeçalho*/
#header_container {
    display: grid;
    border: 1px solid black;
    height: auto;
    width: auto;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: auto auto;
    gap: 15px;
    color: white;
}

#logo {
    width: 100px;
    height: 100px;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: center;
    margin: 0;
}

#titulo_page {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    align-self: end;
}

#descr_page {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    align-self: start;
}

#nav_cabecalho {
    grid-column: 3;
    grid-row: 1 / 3;
    justify-self: end;
}

#nav_cabecalho ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav_cabecalho a {
    color: white;
    text-decoration: none;
}

#nav_cabecalho a:hover {
    color: green;
    text-decoration: underline;
}

/* Final da Estilização do Cabeçalho */





/* Estilização do Main */
#main_container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    border: 1px solid black;
    height: 100%;
    width: auto;
    padding: 20px;
    background-color: rgb(229, 235, 231);
}

#minhas_fotos {
    grid-column: 1;
    border: 1px solid black;
    width: 300px;
    height: 300px;
}

#foto_carregada {
    width: 300px;
    height: 300px;

}

#sobre_mim {
    grid-column: 2;
    margin: 0;
    padding: 10px;
}

/* Final da Estilização do Main */





/*Estilização do Rodapé*/
#footer_container {
    border: 1px solid black;
    height: auto;
    width: auto;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

/* Final da Estilização do Rodapé */