body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

header {
    background-color: #000000;
    color: #FFFFFF;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-info nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 15px;
}

.header-info nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-info nav a:hover {
    text-decoration: underline;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    float: left;
}

footer {
    background-color: rgb(185, 185, 185);
    flex: 2;
    text-align: center;
}